@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* header */

    /* nav */

    .menu{
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        line-height: 70px;
        position: fixed;
        background-color: white;
        z-index: 999;
    }

    .menu::after{
        content: "";
        clear: both;
        display: table;
    }

    .logo img{
        vertical-align: middle;
        margin-left: 20px;
    }

    .logo, .left{
        float: left;
    }

    .right{
        float: right;
    }

    .left{
        margin-left: 3%;
    }

    .left a, .right a{
        text-decoration: none;
        font-size: large;
        color:black;
        margin-right: 30px;
    }

    .left a:hover, .right a:hover{
        text-decoration: underline;
    }

    .menu li{
        display: inline-block;
    }

    .button a{
        padding: 5px 20px;
        background-color: blue;
        color: white;
    }

    /* nav */



    /* section jumbo */

    .jumbo{
        margin-top: 70px;
        width: 100%;
        min-height: 750px;
        position: relative;
    }

    .jumbo .block{
        padding: 5% 10%;
        background-color: lightskyblue;
    }

    .jumbo-title{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .jumbo .text{
        max-width: 400px;
        line-height: 20px;
    }

    .text p{
        margin-bottom: 40px;
    }

    .jumbo .annulla{
        font-size: small;
    }

    .text .button{
        margin-bottom: 10px;
    }

    .button a:hover{
        text-decoration: underline;
    }

    .button a{
        text-decoration: none;
        
    }

    .button li{
        list-style-type: none;
    }

    .text i{
        color: black;
        font-size: 50px;
    }

    .block img{
        height: 450px;
        position: absolute;
        right: 15%;
        bottom: 0;
    }

    /* section image */

/* header */



/* section plan */

#plan{
    padding: 5% 15%;

}

#plan h1{
    margin-bottom: 80px;
}

#plan label{
    margin-right: 10px;
}

#plan .top{
    margin: 1%;
    margin-bottom: 50px;
    min-width: 1000px;
}

.top h1{
    font-size: 40px;
}

    /* cont */
    .cont::after{
        content: "";
        clear: both;
        display: table;
    }

    .cont{
        min-height: 800px;
        margin: 1%;
    }

    .single, .team-top1, .team-top2{
        width: 30%;
        min-height: 800px;
        border: 1px solid grey;
        float: left;
    }

    .team-top1{
        margin-left: 5%;
        margin-right: 5%;
    }

    .sub-title{
        height: 40px;
        border-bottom: 1px solid grey;
    }


        .sub-title{
            position: relative;
        }

        .text-subtitle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }


        .main-text{
            padding: 8% 5%;
        }
            
            
            .top-main div{
                padding: 5px 0;
            }
        
            .top-main .mese{
                font-size: small;
                color: grey;
            }


            .function-main{
                padding: 20px 0;
            }

            .function-main div{
                padding: 5px 0;
            }

            .righe::after{
                content: "";
                clear: both;
                display: table;
            }

            .righe div{
                float: left;
                max-width: 90%;
                padding-left: 3px;
            }



            .button-main *{
                padding-bottom: 20px;
            }

            .try-button{
                text-decoration: none;
                color: white;
                padding: 5px 55px;
                background-color: blue;
            }

            .try-button:hover{
                text-decoration: underline;
            }

            .main-text hr{
                width: 50px;
                margin: 10px 0;
            }

            .punti-salienti *{
                padding: 5px 0;
            }

            .punti-salienti li{
                list-style: none;
            }

            li{
                content: "";
                clear: both;
                display: table;
            }

            .punti-salienti ul li div{
                float: left;
                max-width: 90%;
            }


            

            
    /* cont */

    /* team-bottom */
    .team-bottom{
        min-height: 200px;
        margin: 2% 1%;
        border: 1px solid grey;
        display: block;
    }

        .team-bottom .main-text{
            content: "";
            clear: both;
            display: table;
            padding: 5% 3%;
        }

        .left-main{
            float: left;
            max-width: 75%;
        }

        .left-main *{
            padding: 10px 0;
        }

        .right-main{
            float: right;
            max-width: 25%;
        }

        .contatta{
            text-decoration: none;
            color: white;
            padding: 5px 40px;
            background-color: blue;
        }

        .contatta:hover{
            text-decoration: underline;
        }
    /* team-bottom */


/* section plan */




/* section partner */

.partner::after{
    content: "";
    clear: both;
    display: table;
}

.partner{
    padding: 5% 15%;
}

    /* img */
    .partner img{
        max-height: 500px;
        float: left;
    }
    /* img */

    /* text */
    .partner .text{
        float: left;
        margin-left: 10%;
        max-width: 36%;
        padding-top: 10%;
        line-height: 30px;
    }

    .text h1{
        margin-bottom: 20px;
    }

    .button-white a{
        background-color: white;
        color: black;
        border: 1px solid grey;
        padding: 5px 20px;
        text-decoration: none;
    }

    .button-white a:hover{
        text-decoration: underline;
    }
    /* text */

/* section partner */



/* section Business */
.Business{
    padding: 5% 15%;
}

.Business-title{
    font-size: 40px;
    margin-bottom: 50px;
}

    /* row */

    .row::after{
        content: "";
        clear: both;
        display: table;
    }

    .row{
        padding-bottom: 50px;
    }
    .col img, .col-center img{
        max-height: 400px;
        max-width: 350px;
    }

    .col, .col-center{
        max-width: 320px;
        float: left;
    }

    .col-center{
        margin-left: 6%;
        margin-right: 6%;
    }

    .row h1{
        margin-bottom: 20px;
    }

    /* row */
/* section Business */



/* section Business2 */

.Business2-title{
    padding: 5% 15%;
    max-width: 1050px;
}

.Business2-title h1{
    font-size: 40px;
    margin-bottom: 30px;
}

    /* loghi */
    .loghi:after{
        content: "";
        clear: both;
        display: table;
    }

    .loghi{
        width: 100%;
        min-height: 500px;
        margin-top: 20px;
    }

    .loghi-left img, .loghi-right img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .loghi-left, .loghi-text, .loghi-right{
        float: left;
    }

    .loghi-left, .loghi-right{
        min-height: 500px;
        width: 30%;
    }

    .loghi-text{
        min-height: 500px;
        width: 40%;
        padding: 3%;
        background-color: indigo;
    }

    .loghi-text p{
        margin: 40px 0px;
    }

        .loghi img{
            max-height: 80px;
            padding: 10px;
        }

        .special {
            max-height: 10px;
            max-width: 250px;
        }

        .loghi .top, .loghi .bottom{
            min-height: 250px;
            width: 100%;
        }
        
        .loghi .top::after, .loghi .bottom::after{
            content: "";
            clear: both;
            display: table;
        }

        .top-left, .top-right, .bottom-left, .bottom-right{
            float: left;
            min-height: 250px;
            width: 50%;
            position: relative;
            background-color: hotpink;
            border: black 1px solid;
        }

    /* loghi */

    /* prova */
    .prova{
        padding: 10% 15%;
        background-color: lightblue;
        width: 100%;
    }
    
    .prova::after{
        content: "";
        clear: both;
        display: table;
    }
    
    .prova-title, .prova-button{
        float: left;
    }
    
    .prova-title{
        max-width: 700px;
    }
    
    .prova-title h1{
        font-size: 40px;
    }
    
    .prova-button {
        font-size: 20px;
        margin-left: 100px;
    }
    
    .prova-button a{
        text-decoration: none;
        color:black;
        background-color: white;
        padding: 10px 60px;
    }
    
    .prova-button a:hover{
        text-decoration: underline;
    }
    /* prova */

/* section Business2 */


/* domande */
.domande{
    padding: 10% 15%;
}

.domande .titolone{
    border-bottom: 1px solid grey;
}

.domande h1{
    padding-bottom: 5%;
    font-size: 40px;
}

.sez .show{
    padding: 5% 0;
    border-bottom: 1px solid grey;
    cursor: pointer;

}

.sez p{
    display: none;
    padding-top: 5%;
}

.show:hover p{
    display: block;
}
/* domande */




/* footer */
    .footer{
        padding: 5% 10%;
        background-color: black;
        min-height: 500px;
    }

    .footer::after{
        content: "";
        clear: both;
        display: table;
    }

        .footer div{
            float: left;
            margin-right: 10%;
        }

        .footer ul{
            padding: 10% 0%;
        }

        .footer li{
            list-style-type: none;
            font-size: small;
            line-height: 20px;
        }
        .footer a, .footer h2{
            text-decoration: none;
            color: white;
        }

        .footer a:hover{
            text-decoration: underline;
        }


/* footer */
