@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/* header */

    /* nav */

    .menu{
        top: 0;
        left: 0;
        width: 100vw;
        height: 70px;
        line-height: 70px;
        position: fixed;
        background-color: white;
        z-index: 999;
    }

    .menu::after{
        content: "";
        clear: both;
        display: table;
    }

    .logo img{
        vertical-align: middle;
    }

    .logo, .left{
        float: left;
    }

    .right{
        float: right;
    }

    .left{
        margin-left: 3%;
    }

    .left a, .right a{
        text-decoration: none;
        font-size: large;
        color:black;
        margin-right: 30px;
    }

    .left a:hover, .right a:hover{
        text-decoration: underline;
    }

    .menu li{
        display: inline-block;
    }

    .button a{
        padding: 5px 20px;
        background-color: blue;
        color: white;
    }

    /* nav */



    /* section jumbo */

    .jumbo{
        margin-top: 70px;
        width: 100vw;
        min-height: 750px;
        position: relative;
    }

    .block{
        padding: 5% 10%;
        background-color: lightskyblue;
    }

    .jumbo-title{
        font-size: 50px;
        margin-bottom: 30px;
    }

    .text{
        max-width: 400px;
        line-height: 20px;
    }

    .text p{
        margin-bottom: 40px;
    }

    .annulla{
        font-size: small;
    }

    .text .button{
        margin-bottom: 10px;
    }

    .button a:hover{
        text-decoration: underline;
    }

    .button a{
        text-decoration: none;
        
    }

    .button li{
        list-style-type: none;
    }

    i{
        color: black;
    }

    .block img{
        height: 450px;
        position: absolute;
        right: 15%;
        bottom: 0;
    }

    /* section image */

/* header */



/* section plan */

#plan{
    padding: 5% 15%;

}

#plan h1{
    margin-bottom: 30px;
}

#plan label{
    margin-right: 10px;
}

.top{
    margin: 1%;
}

.top h1{
    font-size: 40px;

}

    /* cont */
    .cont::after{
        content: "";
        clear: both;
        display: table;
    }

    .cont{
        min-height: 800px;
        margin: 1%;
    }

    .single, .team-top1, .team-top2{
        width: 30%;
        min-height: 800px;
        border: 1px solid grey;
        float: left;
        
    }

    .team-top1{
        margin-left: 5%;
        margin-right: 5%;
    }

    

    .sub-title{
        height: 30px;
        border-bottom: 1px solid grey;
    }

    

    

    /* cont */

    /* team-bottom */
    .team-bottom{
        min-height: 200px;
        margin: 2% 1%;
        border: 1px solid grey;
        display: block;
    }
    /* team-bottom */


/* section plan */




/* section partner */

.partner::after{
    content: "";
    clear: both;
    display: table;
}

.partner{
    padding: 5% 15%;
}

    /* img */
    .partner img{
        max-height: 500px;
        float: left;
    }
    /* img */

    /* text */
    .partner .text{
        float: left;
        margin-left: 10%;
        min-width: 38%;
        padding-top: 10%;
        line-height: 30px;
    }

    .text h1{
        margin-bottom: 20px;
    }

    .button-white a{
        background-color: white;
        color: black;
        border: 1px solid grey;
        padding: 5px 20px;
        text-decoration: none;
    }

    .button-white a:hover{
        text-decoration: underline;
    }
    /* text */

/* section partner */



/* section Business */
.Business{
    padding: 5% 15%;
}

.Business-title{
    font-size: 40px;
}

    /* row */

    .row::after{
        content: "";
        clear: both;
        display: table;
    }

    .row{
        padding-bottom: 50px;
    }
    .col img, .col-center img{
        max-height: 400px;
        max-width: 350px;
    }

    .col, .col-center{
        max-width: 320px;
        float: left;
    }

    .col-center{
        margin-left: 6%;
        margin-right: 6%;
    }

    .row h1{
        margin-bottom: 20px;
    }

    /* row */
/* section Business */








